:root {
    --accent: #5c5c5c;
    --ingame-bg: #fff;
    --text-color: #353535;
}
/*Font by reizu*/
@font-face {
	font-family: gamefont;
	src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}
/*Animation*/
@keyframes menuWindow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loading Screen*/
#initLoader {
    background-color: #fff;
}
#loadingBg {
    top: 40px;
    background-image: url() !important;
    background-size: 640px;
    background-position: center top;
	background-repeat: no-repeat !important;
    z-index: -2;
    background-color: #fff !important;
}

#loadInfoRHolder {
    color: #fff;
    font-size: 0;
    background-color: #000;
    padding: 4px 8px;
    box-shadow: 4px 4px var(--accent);
}

#loadInfoRHolder::after {
    content: "Created for Tuanthomas";
    font-size: 20px;
}

#loadTipsHolder {
    color: var(--text-color);
    font-size: 0;
}

#loadTipsHolder::before {
    content: "css by Abyy";
    display: block;
    font-size: 24px;
    color: var(--accent) !important;
}

.lC-cube {
    display: none;
}

#lC-cont::after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--accent);
    border-color: var(--accent) transparent var(--accent) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

#lC-cont::before {
    content: url();
	display: block;
	position: absolute;
    transform: translateX(-45%) translateY(-150%) scale(150%);
}
/*SubLogo*/
#subLogoButtons {
    border-top:4px solid var(--accent);
    bottom: unset;
    top: 20px;
    background-color: transparent;
}
#rankedSoonTm {
    visibility: hidden;
}

.button {
    color:var(--accent) !important;
    background-color:transparent;
    border:none !important;
}

.button:hover,.button:active {
    border:none !important;
    transform:none;
    color: var(--accent);
}

#menuBtnRanked {
    font-size:0 !important;
}

#menuBtnRanked:after {
    font-size:22px;
    content:'Ranked';
}
/*useless*/
#streamContainer,.youNewDiv,#mainLogo,#seasonLabel,#onetrust-consent-sdk,#aHider,.headerBarRight,#newsHolder,.verticalSeparatorInline,.button .material-icons,#faceItIconM,.weapKey,#ammoMax,#ammoIcon,#timerIcon,#pingIcon,#curGameInfo div,#challIcon,#maxHP,#braveWarning,#voiceDisplay,.terms:first-child,.terms:nth-child(3),.terms:nth-child(5),#loadEditrBtn,#endAContainer,#menuClassSubtext,#bubbleContainer,.rankClck,.setSugBox,::-webkit-scrollbar,.verticalSeparator,.progressBar,.krSocial,.hostMapBy,.hostMapYear,.hostMapVersion,.serverPing,.classXPBar {
    display:none !important;
}
/*Customize*/
#menuClassContainer {
    right: -100px;
    transform: unset;
    top: 40%;
    bottom: unset;
}

#bubbleContainer {
    display: none;
}

#menuClassNameTag {
    display: none;
}

#menuClassName {
    text-shadow: none;
    font-size: 20px;
    text-decoration: underline;
}

#menuClassSubtext {
    text-shadow: none;
}

#menuClassSubtext span {
    color: #fff !important;
}

#classPreviewCanvas {
    opacity: 0;
    transition-duration: 0.25s;
}

#menuClassContainer:hover> #classPreviewCanvas {
    opacity: 1;
}

#customizeButton {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 72px;
    opacity: 0;
}
#policeButton {
    border:none !important;
    image-rendering:pixelated;
    background-color:transparent;
    drop-filter: blur(8px);;
    position:fixed;
    right:40px;
    bottom:31.5%;
}
/*Chat*/
#chatDisplay {
    height: 20px !important;
}
#chatInput {
    background-color: var(--ingame-bg-color) !important;
    color: white !important;
    font-size: 13px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

#chatInput::placeholder {
    color: rgba(255, 255, 255, .5) !important;
    text-transform: var(--text-transform);
}

#chatHolder {
    bottom: 20px !important;
    left: 20px !important;
    border-radius: 10px;
    background-color: transparent;
}

.chatItem {
    border-radius: 0;
    background-color: transparent !important;
}

.chatMsg[style*="color:#fc03ec"] {
	color: var(--accent) !important;
}
/*Top Left*/
.headerBarLeft {
    background-color: transparent;
}

.verticalSeparator {
    background-color: transparent;
}
#menuMiniProfilePic {
    display: none;
}

#mailContainer {
    transform:translateX(10px);
}

#menuKRCount {
    transform:translateY(5px) translateX(-140px);
    font-size:20px;
    color: #fff;
    width: 120px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
    top: 10px;
    
}

#menuKRCount span {
    color: yellow !important;
}

#menuKRCount:after {
    content: none;
}

#mLevelCont {
    transform:translateX(-140%);
    background-color: rgba(225,225,225,.6);
    transform: none;
    top: -12px;
}

#mLevelContV {
    font-size:20px;
}

#mLevelContV,#mailIcon {
    color:var(--accent) !important;
}

#mailIcon:hover {
    opacity:1;
    transform:scale(1.1);
}

#mLevelContV:before {
    content:'LVL ';
}

#menuAccountUsername {
    color:var(--accent);
    font-size:20px;
    position:relative;
    top:43px;
    left:14px;
}

#menuAccountUsername:before {
    content:"";
    position:fixed;
    left:12px;
    top:60px;
    display:inline-block;
    width:210px;
    height:30px;
    background-color:var(--ingame-bg);
    z-index:-2;
    clip-path:polygon(0% 0%, 85% 0%, 78% 100%, 0% 100%);
}
.readAll {
    background-color: transparent;
    color: var(--text-color);
}

.readAll:hover {
    background-color: transparent;
    color: var(--accent);
}
/*Menu Items*/
#menuItemContainer {
    width: fit-content;
    height: min-content;
    top: unset;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    background: transparent !important;
}

.menuItem {
    align-items: center;
    background: transparent;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
    pointer-events: none;
}

.menuItem:hover {
    background: transparent;
    color: white;
    border-left: none;
}

.menuItem:active {
    background: transparent;
    color: white;
}

.menuItem .menuItemTitle {
    margin-top: 0;
    color: white !important;
    font-size: 18px !important;
    text-transform: none;
    pointer-events: all;
    transition: all .2s;
}

.menuItemTitle:hover {
    color: var(--accent) !important;
}

.menuItem .menuItemIcon {
    display: none !important;
}
.material-icons-outlined {
    display: none !important;
}
/* buttons */

.button {
    background-color: transparent !important;
    color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-transform: none;
}

.button:hover {
    background-color: transparent !important;
    color: var(--accent) !important;
    -webkit-transform: none;
    transform: none;
}

.button.small {
    font-size: 18px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button.small:hover {
    background-color: transparent !important;
}

.buttonPI {
    box-shadow: none !important;
}

.buttonPI:hover {
    box-shadow: none !important;
}

.buttonR {
    box-shadow: none !important;
}

.buttonR:hover {
    box-shadow: none !important;
}

.buttonP {
    box-shadow: none !important;
}

.buttonP:hover {
    box-shadow: none !important;
}

.buttonG {
    box-shadow: none !important;
}

.buttonG:hover {
    box-shadow: none !important;
}

.button.lgn {
    position: absolute;
    left: 0;
    width: max-content !important;
    padding-left: 22px !important;
    margin-left: 8px !important;
    font-size: 18px !important;
}

.button.lgn .material-icons {
    display: none;
}
/*slider*/
.slider {
	border-radius: 0;
	background-color: darkgray;
}

.slider::before {
	border-radius: 0;
}

input:checked+.slider {
	background-color: var(--accent) !important;
}

input:focus+.slider {
	box-shadow: none;
}

.slider2 {
	border-radius: 0;
	background-color: white;
}

.slider2::before {
	border-radius: 0;
}

input:checked+.slider2 {
	background-color: var(--accent);
}

input:focus+.slider2 {
	box-shadow: none;
}

.sliderM {
	border-radius: 0;
	background-color: white !important;
}

.sliderM::-webkit-slider-thumb {
	border-radius: 0;
	background: var(--accent);
}

.sliderM::-moz-range-thumb {
	border-radius: 0;
	background: var(--accent);
}

.sliderSml {
	background-color: white;
	border-radius: 0;
}

.sliderSml:before {
	background-color: var(--accent);
	border-radius: 0;
}

input {
	background: white !important;
	color: var(--accent) !important;
	border-radius: 0 !important;
}

input::placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

input[type=color] {
	border: 4px solid #fff;
	border-radius: 0;
}

input:checked+.sliderSml {
	background-color: var(--accent)
}

input:focus+.sliderSml {
	box-shadow: 0 0 1px #2196f3
}

.switchsml {
	margin-bottom: 0;
}

.sliderVal {
	height: 16px;
	font-size: 16px;
	border-radius: 0;
	background: var(--accent);
}

.inputGrey {
	background: white;
	border-radius: 0;
}

.inputGrey2 {
	background: white;
	border-radius: 0;
}

.smlInput {
	background-color: white;
	border-radius: 0 !important;
}

.smlInput::placeholder {
	color: rgba(255, 255, 255, .5);
}
/*Menu Windows*/

.setBodH,#referralHeader, #menuWindow [style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"] {
    background-color: transparent !important;
    drop-filter: blur(8px);
}

.reqWIcon {
    color:var(--accent) !important;
}

.reqW.login:hover .reqWIcon {
    animation:reqwIcnanim 9s infinite;
}

@keyframes reqwIcnanim {
    from {
        transform:rotate(360deg);
    }
}
/*SHOP UI AND SETTINGS TOOK FROM v79 CSS*/
/* menu window */

#menuWindow {
    max-height: calc(100% - 300px) !important;
    background-color: transparent;
    box-shadow: none;
    border-radius: 20px;
}

.menuTabsNew {
    background-color: transparent;
}

.menuTabNew {
    color: var(--text-color);
}

.menuTabNew:hover {
    color: var(--accent);
    border-bottom: none !important;
}

.tabANew {
    color: var(--accent) !important;
    border-bottom: none !important;
}

.tabANew:hover {
    border-bottom: none !important;
}

.menuLink {
    font-size: 18px;
}

.menuLink:hover {
    color: var(--accent);
    text-decoration: none;
}

.settText {
    color: var(--text-color);
}

.settText:hover {
    color: var(--accent) !important;
    text-decoration: none;
}

.settLabel {
    font-size: 18px;
}

.settLabel[style*="color:#2196F3"] {
    color: var(--text-color) !important;
}

.wepLink {
    font-size: 18px;
}

.wepLink:hover {
    color: var(--accent) !important;
    text-decoration: none;
}

.settName,
.settNameSmall {
    color: var(--text-color);
    font-size: 18px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.settNameSmall {
    font-size: 16px;
}

.floatR {
    font-size: 18px;
}

.settText .floatR[style*="color:rgba(0,0,0,0.5)"] {
    color: var(--accent) !important;
}
/*Shop*/
/*Credit goes to AcidEyezZz#0007*/
.shopCard {
    color:var(--accent) !important;
    text-shadow:none;
    text-align:start;
    font-size:0px;
    transition:all .25s;
}

.shopCard span {
    color:var(--accent) !important;
}

.spinVal,.spinValL {
    color:var(--accent) !important;
    background-color:transparent;
    text-align:start;
    font-size:0px;
    transition:font-size 0.25s;
}

.spinValL {
    left:0px;
}

.spinValH {
    left:14px;
    color:var(--accent) !important;
    text-shadow:none;
}

.shopCard:hover {
    font-size:20px;
}

.shopCard:hover .spinVal,.shopCard:hover .spinValL {
    font-size:20px;
}
.setBodH [style="color:rgba(255,255,255,0.6);margin-bottom:10px;margin-top:0px;width:100%;text-align:center"] {
    color:var(--accent) !important;
}


/* profile window */

#profilePicM {
    border-radius: 10px;
}

.pfpAction {
    border-radius: 10px;
}

.xpBar {
    height: 20px;
    background-color: var(--menu-bg-color-secondary);
    padding: 0;
    border-radius: 8px;
}

.xpBarB {
    background-color: var(--accent-color);
    border-radius: 8px;
}

.xpBarV {
    top: 0;
    color: var(--text-color);
}

.subPassChg {
    background-color: transparent;
    color: var(--text-color);
}

.subPassChg:hover {
    background-color: transparent;
    color: var(--accent-color);
    transform: none;
}

.lnkTw {
    background-color: transparent;
    color: var(--text-color);
}

.lnkTw:hover {
    background-color: transparent;
    color: var(--accent-color);
    transform: none;
}
/* challenges window */

.chalCard {
    background-color: transparent;
    text-shadow: none;
}

.chalRight {
    color: var(--accent-color);
}

.chalDesc {
    color: rgba(0, 0, 0, .5);
}

.chalXPBar {
    height: 20px;
    background-color: var(--menu-bg-color-secondary);
    padding: 0;
    border-radius: 8px;
}

.chalXPBarC {
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 8px;
}

.chalProg {
    color: var(--text-color);
    font-size: 15px;
}

/* mods window */

.mapListItem {
    background-color: transparent;
}

.mapListThumb {
    border-radius: 10px;
}

.mapListThumb:hover {
    opacity: 1;
    transform: none;
    filter: brightness(1.1);
}

.mapActionOvrl {
    background-color: transparent;
}

#modDropper {
    background-color: var(--menu-bg-color-secondary);
    border: 4px solid transparent;
    border-radius: 10px;
}

.loadMoreD {
    background-color: transparent;
    font-size: 18px;
    color: var(--text-color);
    border-radius: 0;
}

.loadMoreD:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.loadMoreW {
    background-color: transparent;
    font-size: 18px;
    color: var(--accent-color);
    border-radius: 0;
}

/* settings window */

#settingsTabLayout {
    background-color: transparent !important;
    font-size: 18px;
}

.settingsBtn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
}

.settingsBtn:hover {
    color: var(--accent-color);
}

.settingTab:hover {
    color: var(--accent-color);
    border-bottom: none !important;
}

.plusOrMinus {
    color: var(--accent-color);
    font-size: 36px !important;
    margin-right: -8px !important;
}

#requiresRestart {
    display: none;
}

/*Weapons Icon*/
.weapIcon {
    position:fixed;
    left:50%;
    bottom:20px;
    transform:translateX(-50%) scale(0);
    filter:brightness(100) drop-shadow(4px 4px var(--accent)) drop-shadow(-4px -4px var(--accent));
    transition-duration:0.25s;
    opacity: !important;
}

.weapIcon[style*="opacity: 1;"] {
    transform:translateX(-50%) scale(1);
    opacity:1 !important;
    filter:brightness(100) drop-shadow(4px 4px var(--accent)) drop-shadow(-4px -4px var(--accent)); 
}

.weapItem:before {
    content:'';
    display:inline-block;
    position:fixed;
    left:50%;
    bottom:20px;
    transform:translateX(-50%);
    width:150px;
    height:65px;
    background-color: transparent;
    filter:drop-shadow(6px 6px var(--accent));
    z-index:-2;
}

#weapItem_2 .weapIcon {
    margin-bottom:-10px;
}

#weapItem_1 .weapIcon {
    margin-bottom:-5px;
}
/*Ammo*/
#ammoDisplay {
    position: fixed;
    background-color: transparent;
    background-image: url(https://dummyimage.com/1x1/ffffff/ffffff.png);
    transform: none;
    width: 50px;
	height: 4px;
	top: calc(50% + 35px);
	left: calc(50% - 25px);
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    border-radius: 0;
}

#ammoVal {
    position: fixed;
	font-size: 70px;
    right: 38%;
    bottom: 10%;
    color: white;
    font-family: hpammo;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none;
}
/*Health from reizu*/
/* health */

#hudClassIcon {
    display: none;
}

#healthValueHolder {
    background-color: transparent;
    width: 100px;
    height: 65px;
    border-radius: 10px;
    position: fixed;
    left: 38%;
    bottom: 12%;
    padding: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
}

#healthValue {
    color: white;
    font-family: hpammo;
    font-size: 72px;
    letter-spacing: 2px;
    margin-top: 0;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
    will-change: unset;
}

#maxHP {
    display: none;
}

#challIcon {
    display: none !important;
}

#healthBar {
    display: none;
}

/*TeamScore and Timer by reizu*/
#timerDisplay {
	width: 240px;
	height: 80px;
	background-color: transparent;
	will-change: unset;
    text-align: center;
    position: fixed;
    left: 44.5%;
}

#timerVal {
	font-size: 64px;
	padding-left: 0;
	will-change: unset;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#teamScores {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 685px;
	height: 50px;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

.tScore {
	display: inline-block;
}

#tScoreV1 {
	position: fixed;
	left: -25%;
	top: 4px;
}

#tScoreV2 {
	position: fixed;
	left: 25%;
	top: 4px;
}

.tScoreT {
	width: 100%;
	margin-top: 12px;
	text-align: center;
	font-size: 24px;
	color: white;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	z-index: 2;
}

.tScoreM {
	display: none;
}

.tScoreF {
	left: 50%;
	width: 90px;
	height: 60px;
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 0;
	padding-right: 0;
	background-color: #eb5656;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreF.you {
	background-color: #5699eb;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreC {
	left: 50%;
	width: 90px;
	height: 60px;
	margin-left: 125px;
	margin-right: 125px;
	background-color: var(--accent);
	opacity: 50%;
	z-index: 1;
}

.tScoreC.you {
	background-color: white;
	opacity: 50%;
	z-index: 1;
}
/*css by Abyy*/